<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>479088007164-9k8dsjto2o857at9rfnjkc5q06q2r0c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479088007164-9k8dsjto2o857at9rfnjkc5q06q2r0c4</string>
	<key>API_KEY</key>
	<string>AIzaSyDdzLl07MjvrKz5gGGSyHLv8wSJ5DGy3Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>479088007164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmkec.DeNovo</string>
	<key>PROJECT_ID</key>
	<string>denovo-415dd</string>
	<key>STORAGE_BUCKET</key>
	<string>denovo-415dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:479088007164:ios:93466cdb3b660dc4</string>
	<key>DATABASE_URL</key>
	<string>https://denovo-415dd.firebaseio.com</string>
</dict>
</plist>
